<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Museo de Geologia y Paleontologia</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    
</head>
<body>
    
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Conócenos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Muestras</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">Horarios</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Ubicación</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Museo de Geología y Paleontología</div>
                <div class="masthead-subheading">ESIA Ticomán</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Conócenos</a>
            </div>
        </header>
        <!-- Conócenos-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Conócenos</h2>
                    <p class="section-subheading text-muted">El Museo de Geología y Paleontología es una dependencia de la Escuela Superior de Ingeniería y Arquitectura del Instituto Politécnico Nacional. </p>
                    <p class="section-subheading text-muted">El museo fue fundado el 1 de noviembre de 1982. Sus antecedentes se remontan a noviembre de 1973 y es en 1980 cuando se fijan los objetivos del museo tales como servir de apoyo a la docencia, crear un área con infraestructura para actividades prácticas, fortalecer las actividades teóricas y prácticas de los estudiantes y servir como medio de difusión de las Ciencias de la tierra.</p>
                    <h3 class="section-subheading text-muted">El Museo cuenta con tres áreas museográficas: </h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-1x text-primary"></i>
                            
                        </span>
                        <h4 class="my-3">Mineralogía</h4>
                        <p class="text-muted">La colección de mineralogía del museo se compone de 600 ejemplares de minerales. Además, el museo cuenta con una colección de piedras preciosas en bruto y un diamante. Estos especímenes geológicos provienen de distintas regiones.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-1x text-primary"></i>
                            
                        </span>
                        <h4 class="my-3">Petrográfica</h4>
                        <p class="text-muted">La colección petrográfica del museo se compone de 308 especímenes de rocas. Estos especímenes geológicos provienen de diferentes partes.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-1x text-primary"></i>
                            
                        </span>
                        <h4 class="my-3">Paleontología</h4>
                        <p class="text-muted">La colección de paleontología del museo se compone de 300 ejemplares de fósiles, entre ellos los de un mamut y un caballo</p>
                    </div>
                </div>
            </div>
        </section>

        <%- body %>

        <!-- Video-->
        <section class="page-section" id="video">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Recorrido</h2>
                    <h3 class="section-subheading text-muted">Dar clic para ver el recorrido interactivo por las instalaciones del museo:</h3>
                    <a class="btn btn-primary btn-xl text-uppercase" href="https://kuula.co/post/523RX/collection/7KvXN" target="_blank" title="Haga clic para recorrido interactivo">Recorrido interactivo</a>
                </div>

            </div>
        </section>

        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Horarios</h2>
                    <h3 class="section-subheading text-muted">Los horarios de atención son:</h3>
                </div>
                <table>
                    <tr>
                        <th>Día</th>
                        <th>Horario</th>
                    </tr>
                    <tr>
                        <td>Lunes</td>
                        <td>10 a.m. – 6 p.m.</td>
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td>10 a.m. – 6 p.m.</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>10 a.m. – 6 p.m.</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td>10 a.m. – 6 p.m.</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td>10 a.m. – 6 p.m.</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>10 a.m. – 3 p.m.</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>10 a.m. – 3 p.m.</td>
                    </tr>
                </table>
            </div>
        </section>
        <!-- Ubicacion-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Ubicación</h2>
                    <h3 class="section-subheading text-muted">El museo se encuentra ubicado en Calz. Ticomán 55, La Laguna Ticoman, Gustavo A. Madero, 07340 Ciudad de México, CDMX.</h3>
                </div>
                <div class="map-container">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3760.774965051053!2d-99.13431259048805!3d19.508315238185023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f9c65f7b37a5%3A0x7a6b8d9c85e54509!2sMuseo%20de%20Geolog%C3%ADa%20y%20Paleontolog%C3%ADa%20ESIA%20Ticom%C3%A1n!5e0!3m2!1ses-419!2smx!4v1719702008127!5m2!1ses-419!2smx" 
                        width="1000" 
                        height="850" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </section>
    </body>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>